@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&family=Gilda+Display&display=swap');


body {
  font-family: 'Barlow', sans-serif;
   overflow-x: hidden;
    
}

.font-gilda {
  font-family: 'Gilda Display', serif;
}



